.main-nav{
    margin-top: 15px;
    list-style: none;
    padding-left: 0;
    background-color: #594602d9;

}

.main-nav__item{
    display: inline-block;  
    
}

.main-nav__item a{
    font-size: 30px;
    color: rgb(68, 209, 16);
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;

}