*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

body{
    font-family: 'Roboto' sans-serif;
    font-weight: 400;
}

.main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.logo-tarjeta,
.contenedor-tarjeta,
.card-name{
    position: relative;
    background-image: linear-gradient(140deg, #720918, #900e1d, #000 );
    box-shadow: 0px 2px 30px 10px rgba(35,4,7,1);
}

.logo-tarjeta{
    width: 280px;
    height: 40px;
    position: relative;
    left: -70px;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.logo{
    position: absolute;
    top: -20px;
    left: 20px;

}

.logo img{
    width: 60px;
}

.nombre-pokemon{
    display: block;
    position: relative;
    left: 40px;
    font-weight: 500;
    font-size: large;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.contenedor-tarjeta{
    width: 420px;
    min-height: 500px;

}

.img-uno {
    position: absolute;
    bottom: 60px;
    right: 25px;
    z-index: 3;
}

.img-uno img{
    width: 400px;
}

.Caracteristicas-Poke{
    display: inline-block;
    font-family: 'Fjalla One', sans-serif;
    font-size: 185px;
    padding: 30px 0px 0px 0px;
    color: #fff;
}

.liga-pokemon {
    position: absolute;
    bottom: 60px;
    left: 10px;
    rotate: -20deg;

}

.firm , .img-firm {
    width: 100px;

}

.t-mobile , .img-league {
    width: 100px;

}

.t-mobile {
    position: absolute;
    left: 260px;
    bottom: 90px;

}

.card-name{
    width: 70px;
    height: 500px;
    position: absolute;
    right: -25px;
    top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.nombre-pok {
    font-family: 'Bungee', cursive;
    font-size: 20px;
    color: #fff;
    text-orientation: upright;
    writing-mode: vertical-lr;
}

.descripcion-pokemon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width:90%;
    height: 45px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px -2px 9px 0px rgba(20,2,4,1);
    z-index: 6;
}

.descripcion-pokemon p{
    color: #ffff;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    padding: 15px;

}