*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62,5%;
}

body{
    font-size: 1.6rem;
}

.container {
    border: 0.4rem solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box {
    width: 10rem;
    height: 10rem;
}

.box1{
    background-color: aqua;
}

.box2{
    background-color: rgba(0, 255, 26, 0.664);
}

.box3{
    background-color: rgb(212, 0, 255);
}

.box4{
    background-color: rgb(208, 255, 0);
}

.box5{
    background-color: rgb(255, 89, 0);
}

.box6{
    background-color: rgb(58, 9, 137);
}